// @import '~bootstrap';

.app-menu {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #ffeb3b !important;
}

.app-breadcrumb {
  margin: 0;
}

.app-body {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.app-title-sass {
  color: #7c7c7c;

  &:hover {
    color: #656565;
  }
}

.app-footer {
  text-align: right;
  font-size: 0.8rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  position: fixed;
  bottom: 0;
  width: fit-content;
}

.delete-btn {
  position: absolute;
  right: 20px;
  top: 13px;
  z-index: 1;
}

.not-found-data {
  display: flex;
  height: 60vh;
  justify-content: center;
  align-items: center;
}

.table-scroll {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

.table {
  width: 100%;

  thead {
    position: sticky;
    top: 0;
    background: #bababa;
  }

  td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .center {
    text-align: center;
  }
}

.pagination-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;

  .pagination {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .total {
    font-size: .875rem;
  }
}